@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: 253 252 253;
  --foreground: 0 0 0;
} */

/* :root[data-theme="dark"] {
  --background: 17 17 17;
  --foreground: 255 255 255;
} */

.light {
  background-color: #ededed;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
