@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
  --background: 17, 17, 17;
  --background-secondary: 28, 30, 35;
  --component-primary: 40, 170, 175;
  --component-secondary: 97, 250, 255;
  --text-primary: 255, 255, 255;
  --text-secondary: 230, 230, 230;
  --accent: 178, 204, 205;
}

.light {
  color-scheme: light;
  --background: 253, 252, 253;
  --background-secondary: 230, 230, 230;
  --component-primary: 80, 211, 215;
  --component-secondary: 0, 153, 158;
  --text-primary: 18, 18, 18;
  --text-secondary: 100, 100, 100;
  --accent: 50, 76, 77;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
}
